<div class="container">
  <h1>About Symporter</h1>
  <p>Research revenue is driven by publications. In the process of writing and publishing a paper high quality research products are generated, such as antibodies, amplifiers or novel materials. Usually of higher quality and reliability than industrial products these by-products are discarded once no longer needed. Why not turn your hard work and research into revenue by trading with other labs, hobbyists or companies ? </p>
</div>