<div class="container">
  <h1>Contact Us</h1>
  <h2>Jack Campbell <small>Co-founder</small></h2>
  <img data-src="holder.js/200x200" class="img-thumbnail" src="/images/jack.jpg" height ="200" width= "200">
  <h2>Dantino Camuto <small>Co-founder</small></h2>
  <img data-src="holder.js/200x200" class="img-thumbnail" src="/images/dantino.jpg" height ="200" width= "200">
</div>

