
    
<% provide(:title, @u.name) %>

<div class="container">
  <div class="container">
  <aside class="col-md-4">
    <section class="u_info">
      <h1>
        <%= gravatar_for @u %>
        <%= @u.name %>
      </h1>
    </section>
  </aside>
</div>
  </div>
     