/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
/* line 6, /home/nitrous/code/symporter/vendor/assets/stylesheets/carousel.css.scss */
body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

/* line 11, /home/nitrous/code/symporter/vendor/assets/stylesheets/carousel.css.scss */
img.stretchy {
  width: 100%;
  /*Tells image to fit to width of parent container*/
}

/* line 14, /home/nitrous/code/symporter/vendor/assets/stylesheets/carousel.css.scss */
img.clipped {
  width: 150%;
  /*Scales image to 150% width of parent container*/
  float: left;
  /*Floats image to left of container - clipping right hand side*/
  float: right;
  /*Floats image to right of container - clipping left hand side*/
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
/* line 24, /home/nitrous/code/symporter/vendor/assets/stylesheets/carousel.css.scss */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
/* line 33, /home/nitrous/code/symporter/vendor/assets/stylesheets/carousel.css.scss */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}

/* line 37, /home/nitrous/code/symporter/vendor/assets/stylesheets/carousel.css.scss */
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

/* line 41, /home/nitrous/code/symporter/vendor/assets/stylesheets/carousel.css.scss */
.navbar-wrapper .navbar .container {
  width: auto;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
/* line 50, /home/nitrous/code/symporter/vendor/assets/stylesheets/carousel.css.scss */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}

/* Since positioning the image, we need to help out the caption */
/* line 55, /home/nitrous/code/symporter/vendor/assets/stylesheets/carousel.css.scss */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
/* line 60, /home/nitrous/code/symporter/vendor/assets/stylesheets/carousel.css.scss */
.carousel .item {
  /*height: 500px;*/
  /*background-color: #777;*/
  min-width: 100%;
  height: 500px;
}

/* line 66, /home/nitrous/code/symporter/vendor/assets/stylesheets/carousel.css.scss */
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
}

/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
/* line 78, /home/nitrous/code/symporter/vendor/assets/stylesheets/carousel.css.scss */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}

/* line 82, /home/nitrous/code/symporter/vendor/assets/stylesheets/carousel.css.scss */
.marketing h2 {
  font-weight: normal;
}

/* line 85, /home/nitrous/code/symporter/vendor/assets/stylesheets/carousel.css.scss */
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* Featurettes
------------------------- */
/* line 94, /home/nitrous/code/symporter/vendor/assets/stylesheets/carousel.css.scss */
.featurette-divider {
  margin: 80px 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* line 99, /home/nitrous/code/symporter/vendor/assets/stylesheets/carousel.css.scss */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  /* Navbar positioning foo */
  /* line 111, /home/nitrous/code/symporter/vendor/assets/stylesheets/carousel.css.scss */
  .navbar-wrapper {
    margin-top: 20px;
  }

  /* line 114, /home/nitrous/code/symporter/vendor/assets/stylesheets/carousel.css.scss */
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  /* line 118, /home/nitrous/code/symporter/vendor/assets/stylesheets/carousel.css.scss */
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  /* line 124, /home/nitrous/code/symporter/vendor/assets/stylesheets/carousel.css.scss */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  /* line 129, /home/nitrous/code/symporter/vendor/assets/stylesheets/carousel.css.scss */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  /* line 135, /home/nitrous/code/symporter/vendor/assets/stylesheets/carousel.css.scss */
  .featurette-heading {
    font-size: 50px;
  }
}
@media (min-width: 992px) {
  /* line 141, /home/nitrous/code/symporter/vendor/assets/stylesheets/carousel.css.scss */
  .featurette-heading {
    margin-top: 120px;
  }
}
