
<body>
<% provide(:title, 'All products') %>
  <div class="container">
<h1>All Products</h1>

<ul class="products">
  <% @products.each do |product| %>
    <ol class="products">
        <%= render @products %>
      </ol>
      <%= will_paginate @products %>
  <% end %>
</ul>
  </body>
  </div>