<style>
  body {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.2);
}
  </style>
<body>
<% provide(:title, 'All products') %>
  <div class="container" style="text-align: center;">
<h1 style="color: #000033">All Products</h1>

<ul class="products">
  <% @products.each do |product| %>
    <li>
     <span class="u"><%= link_to product.u.name, product.u %></span>
  <span class="name"><%= product.name %></span>
  <span class="description"><%= product.description %></span>
  <span class="timestamp">
    Uploaded <%= time_ago_in_words(product.created_at) %> ago.
    </li>
  <% end %>
</ul>
      </div>
    <div class="row">
   <div class="col-md-1"></div>
      <div class="col-md-4">
      <h3 style="color: #000033">Categories <small>By research </small></h3>
       <li><a href="/Bioc">Biochemistry</a></li>
        <li><a href="/Bio">Biology</a></li>
        <li><a href="/Chem">Chemistry</a></li>
    <li><a href="/Chemeng">Chemical Engineering </a></li>
    <li><a href="/EE">Electrical Engineering </a></li>
        <li><a href="/ME">Mechanical Engineering </a></li>
    <li><a href="/Phy">Physics </a></li>
      </div>
      
     </div>   
  </body>
  </div>