
<body>
<% provide(:title, 'All products') %>
  <div class="container">
<h1>All Products</h1>

<ul class="products">
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product %>
    </li>
  <% end %>
</ul>
  </body>
  </div>